.about {
    justify-content: space-between;
    display: flex;
    border-radius: 50px;
    background: rgba(240, 99, 184, 0.15);
    margin-bottom: 150px;
    padding: 5%;
}

.about__img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 11px;
    margin-right: 5%;
}

.about__text {
    width: 50%;
    margin: 10% 15% 10% 5%;
}

.about__title {
    color: #212353;
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-top: 0 auto;
}

.about_paragraph {
    width: 70%;
    color: var(--1, #4B5D68);
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

@media screen and (max-width: 1024px) {
    .about {
        width: 100%;
        position: relative;
        display: block;
    }

    .about__img {
        width: 100%;
    }

    .about__text {
        width: 100%;
    }

}